<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="NorskFjellGeit">
    <title>RTSP 2 MJPEG</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#c8f000">
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              Still Image
            </div>
            <div class="card-body">
              <img src="/still" class="img-fluid rounded" alt="Image">
            </div>
            <div class="card-footer">
              /still
            </div>          
          </div>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              MJPEG Stream
            </div>
            <div class="card-body">
              <img src="/stream" class="img-fluid rounded" alt="Image">
            </div>
            <div class="card-footer">
              /stream
            </div>          
          </div>
        </div>
      </div>      
    </div>


    <script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
  </body>
</html>